@media screen and (min-width: 1490px) and (max-width: 1922px) {
	html, body {
		position:relative;
		overflow-x:hidden;

		}


div.secund {
	top: 100vh;
}



 div#fish_back {
 	width: 100%;
 	height: auto;
 }

 img.myface {
 	width: 60%;
 }

 div.third, div#gear {
  top:160vh;
}

div.four {
	top: 200vh;
}

div.five {
	top: 300vh;
}

div.six {
	top: 440vh;
}