// 320/699 xs
// 700 991 sm
// 992 1199 md
// 1200 a +

@media screen and (min-width: 319px) and (max-width: 768px) {
	body {
		margin-top: 12px;
	}
	body div.center {
		width: 200%;
		top: 0px;
	}
	#svglogo {
    position: absolute;
    margin-top: 0px;
    width: 200%;
    display: block;
    left: 0;
    top: 0;
    z-index: 5;
  }
	#worldmenu {
		top: -70px;


	}
	 div#parcours__pan ,div#parc__pan ,div#formation__pan , div#contact__pan , div#loisirs__pan , div#skills__pan , div#resume_pan {
		height: 60px;
		width: 60px;
		display: block;
		top: 170px;
	}
	#parcours__pan {

		margin-left:43%;
		left:0;

		
	}
	#parc__pan {
		margin-left:-63.5%;

	}
	#formation__pan {
		margin-left:-5%;

	}
	#contact__pan {
		margin-right: -5%;

	}
	#loisirs__pan {
		margin-right: -45.5%;

	}
	#skills__pan {

		left: 70px;
		right: 0;
		margin-right: -45%;
	}
	div#resume_pan {
		margin-left: -35px;
		margin-top: -70px;
		display:none;

	}
	div#parcours__pan svg,
	div#parc__pan svg, 
	div#formation__pan svg,
	div#contact__pan svg ,
	div#loisirs__pan svg,
	div#skills__pan svg,
	div#resume_pan svg {
		display: block;
		margin-top: 0;
	}

	body div.corps {
		margin-top:-300px;
		width: 200%;
	}
	body div#fish_back {
		width: 300%;
		top: 100px;

	}
	body div.secund {
		top: 350px;
		width: 300vw;
		display: block;
		padding: 25px;
	}
	body div.lightWord1 {
		font-size: 3em;
		width: 200vw;
		padding: 0;
	}
	p.desc#propos {
		margin-top: 50px;
		width: 90vw;
	}
	body div.social {
		margin-top: 10px;
	}
	body div.face_content {
		width: 50%;
		right: 0;
	}
	body div.face_content img.myface {
		width: 40%;
		margin-left: 90%;
		margin-top: 10%;

	}

	body div.third {
		top:900px;
		display: block;
		width: 200%;
		padding: 25px;
	}
	


}

@media screen and (min-width: 700px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) and (max-width: 1440px) {

}

@media screen and (min-width: 1441px) and (max-width: 1920px) {

}